---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('springboot');
	return posts.map((post: CollectionEntry<'springboot'>) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'springboot'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<h1>{post.data.title}</h1>
	<Content />
</BlogPost>