---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("October 11 2024")}
    heroImage="/blog-placeholder-about.jpg"
>
    <p>
        男，23岁，本科毕业。大学专业是软件工程。喜欢做自己，不想被外界的眼光或者评价所影响，但是遗憾的是，我一直处在其中，甚至渴望得到别人的认可。
        现在，我不知道我是否还执着于得到认可，我想要在未来的生活中更多的认识自己。
    </p>

    <p>
        我大学学习过三门编程语言，c语言，python语言以及java语言。c语言作为入门语言毫无疑问让敲开了我变成世界的大门；python作为选修课让我看到了python语言的灵活性。
        java作为我第一个接触到的面相对象编程语言，同时也是我最喜欢的编程语言，给了我非常多的惊喜和乐趣。（后端）
    </p>

    <p>
        最让我深刻的、感到数学的快乐的一个项目是时钟项目，他是一个基于Swing技术的时钟程序，通过创建一个画布，每秒钟重新绘画指针的位置来实现。它使用了非常基础的三角函数以及坐标系的
        一些相关知识。当时老师给了一道题目，用java实现一个时钟程序，我是我们班的第一个使用画布完成这个作业的学生，当我完成的时候，我才意识到了数学的魅力，原来数学真的很有用，它
        不再是数学书上枯燥的知识，它也可以是游戏，是快乐！这段代码在我的github仓库中可以找到https://github.com/SongRunqi/Clock
        这是我在大二的时候写的，后来上传到了github
    </p>

    <p>
        我局的对于学会编程的人来说，做一个聊天系统简直太酷啦！我在大二的时候，实训作业我选择了一个实验室管理系统，它是基于java
        swing的系统，主要功能是对实验室的设备进行管理
        ，但是后来我觉得它有些简单，于是添加了一个聊天的功能，方便管理员之间进行通信。在这个项目中，我做了很多的抽象，由于每个模块都是相同的模版，于是我将这部分抽象出来，完成了很好的工作。
        我至今仍然记得，我给每个聊天程序分配不同的端口😂
        后来才恍然大悟，只需要修改ip就好了。
        这个项目的难点是不同的客户端如何进行通讯。我采用的是基于socket的方式，每个客户端都是一个client，同时也是一个server。我采取的解决方案是在登录的时候将ip保存到数据库中，另一个用户如果要和
        这个用户聊天，可以通过用户id找到对应的ip从而建立socket连接，进行通讯。说来惭愧，这个项目在我洗完之后我就搁置了，以至于后来
        我甚至忘记了socket以及多线程，这也导致我在后续找工作的时候完全不知从何说起，完全没有了自己的优势，这也让我认识到了不能一味的追求速度，也要及时的回顾。
        这个项目的git仓库在这里：https://github.com/SongRunqi/ChatWithMe
    </p>

</Layout>
