---
// ... 其他导入
import '../styles/global.css';
---

<html lang="zh-CN">
  <head>
    <!-- ... 其他 head 内容 ... -->
  </head>
  <body>
    <slot />
    <script src="../scripts/copyCode.js"></script>
  </body>
</html> 